/Cookies
/Cookies-journal
/Network Persistent State
/NetworkDataMigrated
/Reporting and NEL
/Reporting and NEL-journal
/SCT Auditing Pending Reports
/Sdch Dictionaries
/Trust Tokens
/Trust Tokens-journal
