<header
	th:fragment="header"
	xmlns:th="http://www.thymeleaf.org"
	class="header">
	<div class="header container">
		<div class="header-left">
			<div class="logo-wrapper">
				<a th:href="@{/}"><img
					th:src="@{/img/ghost-net-fishing-logo.png}"
					class="ghost-net-fishing-logo"
					alt="Ghost Net Fishing Logo"></a>
			</div>
		</div>
		<div class="header-right">
			<img
				th:src="@{/img/shea-sepherd-logo.png}"
				class="shea-sepherd-logo"
				alt="Shea Sepherd Logo">
		</div>
	</div>
</header>