<head th:fragment="head(pageTitle)" xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/global.css}" />
<link rel="stylesheet" th:href="@{/css/header.css}" />
<link rel="stylesheet" th:href="@{/css/home.css}" />
<link rel="stylesheet" th:href="@{/css/footer.css}" />
<link rel="stylesheet" th:href="@{/css/report.css}" />
<link rel="stylesheet" th:href="@{/css/overview.css}" />
<link rel="stylesheet" th:href="@{/css/report-success.css}" />
<link rel="stylesheet" th:href="@{/css/recover.css}" />
<link rel="stylesheet" th:href="@{/css/report-recovered.css}" />
<link rel="icon" th:href="@{/img/favicon.ico}">

<title th:text="${pageTitle}"></title>

</head>