/* GLOBAL */
:root {
	/* Farben */
	--highlight-bright: #1D98F5;
	--link-hover: #CCCCCC;
	--text: #000;
	--button-unchecked: #F2F2F2;
	--button-checked: #FFF;
	--button-text: #FFF;
	--h2: #000;
	--light-grey: #D9D9D9;
	--medium-grey: #A0A0A0;
	--dark-grey: #747474;
	--warning: #FF4000;
	--standard-background: #C7C7C7;
	--dark-background: #444444;
	/* Font */
	--font-small: 0.8rem;
	--font-base: 1rem;
	--font-medium: 1.3rem;
	--font-ml: 1.5rem;
	--font-large: 1.8rem;
	--font-xl: 2.4rem;
	--font-xxl: 4.8rem;
	--font-h2: 1.2rem;
	--font-h1: 2rem;
	--font-button: 1.3rem;
	--font-legend: 1rem;
	line-height: 1.5;
	width: auto;
	--global-font: "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
	--font-small: 0.8rem;
	--font-xs: 0.7rem;
	--heading-font: "Bebas Neue", "Helvetica Neue";
}

* {
	box-sizing: border-box;
}

body,
html {
	font-size: 18px;
	font-family: var(--global-font);
	background-color: var(--standard-background);
	font-weight: 400;
	/* margin reset */
	margin: 0;
	max-width: 100%;
	width: 100%;
	overflow-x: hidden;
}

body {
	/* flexbox */
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* Content bezieht Restgröße */
main {
	flex: 1 0 auto;
}

.section-wrapper {
	display: flex;
	flex-direction: column;
	gap: 3em;
	align-items: stretch;
}

.gapped {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.relative {
	position: relative;
}

@media (max-width : 480px) {
	html {
		width: fit-content;
	}
}

.header,
.footer,
.content {
	width: 100%;
}

header,
footer {
	flex-shrink: 0;
}

h1 {
	font-size: var(--font-h1);
	text-align: center;
	padding: 4.25rem 0 2.5rem 0;
	font-weight: bold;
}

@media (max-width : 1440px) {
	h1 {
		padding: 0 0;
		font-size: var(--font-large);
	}
}

@media (max-width : 768px) {
	h1 {
		padding: 1em 0 1.5em;
		font-size: var(--font-ml);
	}
}

h2 {
	font-size: var(--font-h2);
	font-weight: bold;
}

@media (max-width : 480px) {
	h2 {
		font-size: var(--font-ml);
	}
}

/* Margin Reset */
p,
h1,
h2,
.button,
.buttonized {
	margin: 0;
}

h1,
h2,
.button,
.buttonized {
	font-family: var(--heading-font);
	font-weight: 500;
}

h1,
h2 {
	letter-spacing: 0.2rem;
}

ul {
	padding: 0px;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

input[type="checkbox" i] {
	padding: 0;
	margin: 0;
}

input,
input[type="checkbox" i],
input[type="text"]:focus,
input[type="text"]:active,
input[type="text"]:checked {
	border: none;
	border-radius: 0;
	outline: none;
	box-shadow: none;
	background-color: white;
}

/* Centered Containers */
/* Large Desktops */
.container {
	width: 1440px;
	margin: 0 auto;
	height: 100%;
}

@media (max-width : 1440px) {
	.container {
		max-width: 1200px;
		padding: 0 2rem;
	}
}

/* Laptop/Tablet */
@media (max-width : 1200px) {
	.container {
		max-width: 1024px;
		padding: 0 2rem;
	}
}

/* Laptop/Tablet */
@media (max-width : 1024px) {
	.container {
		max-width: 768px;
		padding: 0 2rem;
	}
}

/* Tablet */
@media (max-width : 768px) {
	.container {
		max-width: 480px;
		padding: 0 1rem;
	}
}

/* Smartphone */
@media (max-width : 480px) {
	.container {
		max-width: 100%;
		padding: 0 0.75rem;
	}
}

/* Fieldset reset */
fieldset {
	border: none;
	padding: 0;
	margin: 0;
	min-inline-size: unset;
}

legend {
	all: unset;
	font-size: var(--font-legend);
	font-weight: 500;
}

/* Versteckt Elemente */
.hidden {
	display: none !important;
}

@media (max-width : 768px) {
	.hide-on-mobile {
		display: none;
	}
}

.centered {
	display: flex;
	align-items: center;
	justify-content: center;
}


/* Färbt Elemente auffällig ein */
.highlighted p {
	color: #FFF !important;
	background: var(--highlight-bright) !important;
}

.button,
.buttonized {
	display: flex;
	padding: 1em 4em;
	justify-content: center;
	background-color: var(--button-checked);
	cursor: pointer;
	font-weight: normal;
	transition: all 0.2s ease;
	font-size: var(--font-button);
	text-align: center;
	border: none;
	color: #000;
}

.button-medium-white {
	padding: .7em 3.5em;
	background-color: var(--button-checked);
	font-weight: normal;
	font-size: var(--font-button);
	color: #000;
}

.button-small-white {
	font-size: var(--font-base);
	padding: .25em .5em;
}

.button-small-grey {
	padding: .25em .5em;
	font-size: var(--font-base);
	background-color: #D9D9D9;
}

.buttonized,
.deco {
	cursor: default;
}

.capitalize {
	text-transform: capitalize;
}

.item-row {
	display: flex;
	justify-content: center;
	gap: 1em;
	flex-direction: row;
}

.form-row {
	display: flex;
	justify-content: flex-start;
	gap: 1em;
	flex-direction: row;
}

.flex-centered {
	justify-content: center;
}

.form-group {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	gap: .3em;
}

.item-group {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.button-centered {
	justify-content: center;
}

.info-message {
	font-weight: bold;
}

.info-message-small {
	font-size: var(--font-xs);
}

/* Report Form & Contact Form */
.report-form input[type="text"] {
	width: 20em;
}

.report-form input#latitude,
.report-form input#longitude {
	width: 9.65em;
	line-height: unset;
}

.report-form {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.report-form .id,
.report-form .size,
.report-form .gps-coordinates,
.report-form .latitude,
.report-form .longitude,
.report-form .name,
.report-form .telefon {
	display: grid;
	grid-template-columns: 1fr auto;
	column-gap: 1em;
}

.report-form .latitude {
	column-gap: 0em;
}

.report-form .gps-coordinates {
	column-gap: .5em;
}

.report-form input {
	text-align: center;
}

.read-only input,
.read-only input:active,
.read-only input:focus,
.read-only input:visited {
	background-color: var(--medium-grey);
	cursor: default;
}

/* Pagination */
.link-pagination-row {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	margin-top: .5em;
}

.pagination-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: .25em;
	padding: 0 .8em;
	background-color: var(--medium-grey);
	font-size: 1rem;
	color: #000;
	font-weight: normal;
}

.pagination-arrow {
	padding: 0 .5em;
	font-size: 1.5rem;
	height: 1em;
}