/* HEADER CSS */

.header {
	background-color: var(--dark-background);
	height: 120px;
}

.header.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    height: 120px;
}


.ghost-net-fishing-logo, .shea-sepherd-logo {
	height: 50px;
}