/* RECOVER CSS */

/* Ghost Net Card */
.ghost-net-card {
	background-color: var(--medium-grey);
	display: flex;
	justify-content: space-around;
	padding: 1em 0;
	color: #FFF;
}

.ghost-net-card:nth-child(even) {
	background-color: var(--dark-grey);
}

.link-pagination-row {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
}

.ghost-net-card>.item-group {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-small-white {
	font-size: var(--font-base);
	padding: .25em .5em;
}

.button-small-grey {
	padding: .25em .5em;
	font-size: var(--font-base);
	background-color: #D9D9D9;
}

.ghost-net-card-buttons.item-group {
	gap: .25em;
}

.item-group.vertical-space {
	gap: .5em;
}

.item-group.Id {
	text-transform: uppercase;
}