.report .net-info,
.report .contact-data {
	display: flex;
	flex-direction: column;
}

.report .info-wrapper legend {
	margin-bottom: .25em;
}

.report-section {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.report .user-choice {
	display: flex;
	flex-direction: column;
	gap: 1em;
}


.report-form .name {
	row-gap: .15em;
}