<!DOCTYPE HTML>
<html
	lang="de"
	xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{fragments/head :: head('Ghost Net Fishing - Startseite')}"></th:block>

<body>
	<th:block th:replace="~{fragments/header :: header}"></th:block>
	<main class="home-background">
		<h1 class="home-h1">Ich möchte ein Netz</h1>
		<div class="section-wrapper home relative">
			<div class="container">
				<div class="selection">
					<a
						class="button report-button"
						th:href="@{report}">melden</a> <a
						class="button recover-button"
						th:href="@{overview}">bergen</a>
				</div>
			</div>
			<section class="section">
				<div class="vertical-text-container deco">
					<p class="vertical-text deco">choose</p>
				</div>
			</section>
		</div>
	</main>
	<th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>

</html>