<!DOCTYPE HTML>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<th:block
	th:replace="~{fragments/head :: head ('Liste aller Geisternetze')}"></th:block>

<body>
	<main>
		<h1>Übersicht aller Netze</h1>

		<div class="section-wrapper">
			<section class="section container">
				<table>
					<thead>
						<tr>
							<th>Label</th>
							<th>Status</th>
							<th>GPS-Koordinaten</th>
							<th>zuletzt geändert</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="net : ${ghostNets}">
							<td th:text="${net.gpsCoordinates}"></td>
							<td th:text="${net.size}"></td>
							<td th:text="${net.status}"></td>
						</tr>
					</tbody>
				</table>

				<div class=item-row>
					<th:block th:replace="~{fragments/pagination :: pagination}"></th:block>
				</div>
			</section>
		</div>
	</main>
</body>


</html>