<!DOCTYPE HTML>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{fragments/head :: head('Übersicht aller Geisternetze')}"></th:block>

<body>
	<th:block th:replace="~{fragments/header :: header}"></th:block>

	<main>
		<h1>Übersicht aller Netze</h1>

		<div class="section-wrapper overview">
			<section class="section reported-nets-section container">
				<h2>Gemeldete Netze</h2>
				<div class="gapped">

					<th:block
						th:replace="~{fragments/ghost-net-card-list :: ghostNetCardList(netList=${reportedNets}, page=${reportedPage}, basePath=${reportedPath})}">
					</th:block>
				</div>
			</section>

			<section class="section recovery-nets-section container">
				<h2>Bergung bevorstehend</h2>
				<div class="gapped">

					<th:block
						th:replace="~{fragments/ghost-net-card-list :: ghostNetCardList(netList=${recoveryNets}, page=${recoveryPage}, basePath=${recoveryPath})}">
					</th:block>
				</div>
			</section>

			<section class="section recovered-lost-nets-section container">
				<h2>Geborgene und verschollene Netze</h2>
				<div class="gapped">

					<th:block
						th:replace="~{fragments/ghost-net-card-list :: ghostNetCardList(netList=${recoveredLostNets}, page=${recoveredLostPage}, basePath=${recoveredLostPath})}">
					</th:block>
				</div>
			</section>
		</div>
	</main>

	<th:block th:replace="~{fragments/footer :: footer}"></th:block>

</body>

</html>