<!DOCTYPE HTML>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{fragments/head :: head('Geisternetz bergen')}"></th:block>

<body>
	<th:block th:replace="~{fragments/header :: header}"></th:block>
	<main>
		<h1>Netz bergen</h1>
		<div class="section-wrapper relative">
			<section class="section container">
				<th:block th:replace="~{fragments/contact-form :: contactForm(formAction='/recover')}"></th:block>
			</section>
		</div>
	</main>
	<th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>

</html>